@import '../../fonts/fontello/fontello';

@font-face {
  font-family: 'HeliosCondC';
  src: url('../fonts/HeliosCondC.eot');
  src: url('../fonts/HeliosCondC.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HeliosCondC.woff') format('woff'),
       url('../fonts/HeliosCondC.ttf') format('truetype'),
       url('../fonts/HeliosCondC.svg#HeliosCondC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGardeGothic';
  src: url('../fonts/ITCAvantGardeGot-XtLg.eot');
  src: url('../fonts/ITCAvantGardeGot-XtLg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ITCAvantGardeGot-XtLg.woff') format('woff'),
       url('../fonts/ITCAvantGardeGot-XtLg.ttf') format('truetype'),
       url('../fonts/ITCAvantGardeGot-XtLg.svg#ITCAvantGardeGot-XtLg') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGardeGothic';
  src: url('../fonts/ITCAvantGardeGot-Boo.eot');
  src: url('../fonts/ITCAvantGardeGot-Boo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeGot-Boo.woff') format('woff'),
  url('../fonts/ITCAvantGardeGot-Boo.ttf') format('truetype'),
  url('../fonts/ITCAvantGardeGot-Boo.svg#ITCAvantGardeGot-Boo') format('svg');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'AvantGardeGothic';
//  src: url('../fonts/ITCAvantGardeGot-Med.eot');
//  src: url('../fonts/ITCAvantGardeGot-Med.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/ITCAvantGardeGot-Med.woff') format('woff'),
//       url('../fonts/ITCAvantGardeGot-Med.ttf') format('truetype'),
//       url('../fonts/ITCAvantGardeGot-Med.svg#ITCAvantGardeGot-Med') format('svg');
//  font-weight: 500;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'AvantGardeGothic';
//  src: url('../fonts/ITCAvantGardeGot-Bol.eot');
//  src: url('../fonts/ITCAvantGardeGot-Bol.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/ITCAvantGardeGot-Bol.woff') format('woff'),
//       url('../fonts/ITCAvantGardeGot-Bol.ttf') format('truetype'),
//       url('../fonts/ITCAvantGardeGot-Bol.svg#ITCAvantGardeGot-Bol') format('svg');
//  font-weight: 700;
//  font-style: normal;
//}