.reserve-popup{

  .table{
    display: table;
    width: 600px;
    margin: 0 auto;
  }
  .cell{
    display:table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 40px;
  }

  .contacts{
    background: #f6f6f6;
    color: #646464;
    h3{
      text-transform: uppercase;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &>div{
      display: table;
      &>div{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  .form{
    background: #f2f3f4;
    h3{
      text-transform: uppercase;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
      color: #646464;
    }
    .form-input{
      border: none;
      width: 100%;
      margin-bottom: 20px;
//      font-size: 14px;
      line-height: 26px;
      padding: 8px 10px 2px;
      box-sizing: border-box;
      &:active, &:focus{
        outline: none;
        box-shadow: 7px 7px 10px rgba(0,0,0,.02);
      }
    }
    .form-submit{
      border: none;
      width: 100%;
      background: #c9cbcf;
      text-align: center;
      font-size: 18px;
      padding: 9px 5px 5px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      &:active{
        outline: none;
      }
    }
//    .input-row{
//      position: relative;
//      overflow:hidden;
      .lable{
        display:none;
//        position: absolute;
//        transition: .4s;
//        opacity: 1;
//        top:0;
//        left: 0;
      }
//      .form-input:focus ~ .lable {
//        transform: translateY(-100%);
//        opacity: 0;
//      }

//    }
  }

  .soc-icons{
    margin-top: 10px;
  }
}

.popup--opened{
  .table{
    animation: popup-open .7s forwards;
  }
}

.popup--closed{
  .table{
    animation: popup-close .7s forwards;
  }
}

@media(max-width:420px){
  .reserve-popup{
    h3{
      text-align:center;
    }
  }
}