.news-content{
  position: relative;
  width: 60%;
  margin: 20px auto;
  background-color: white;
  padding: 40px;
  cursor: auto;
  figure{
    margin: 30px -40px;
    img{
      width:100%;
    }
  }

  h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 10px 0 30px;
  }
  p{
    line-height: 24px;
  }
  .add-info {
    float: left;
  }
  .date{
    float: right;
  }
  footer{
    margin-top: 25px;
    color: #dadada;
  }
}

.popup--opened{
  .news-content{
    animation: popup-open .7s forwards;
  }
}

.popup--closed{
  .news-content{
    animation: popup-close .7s forwards;
  }
}

.soc-sharer{
  margin-top: 20px;
    ul{
      font-size:0;
      margin: 0 -10px
    }
  li{
    display:inline-block;
    font-size: 14px;
    margin: 0 10px;
  }
}