.reserve-popup{

  .table{
    display: table;
  }
  .cell{
    display:table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 40px;
  }


  .popup-content{
    position: relative;
    margin: 0 auto;
    width: 600px;
  }

  .reserve-msg-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(242, 243, 244, 0.75);
//    opacity: 0;
//    transition: .7s;
    display:table;
//    transform: scale (1.3);
    &.popup--opened{
      .reserve-msg-container{
        animation: popup-open .7s forwards;
      }
    }
    &.popup--closed{
      .reserve-msg-container{
        animation: popup-close .7s forwards;
      }
    }

    .reserve-msg-container{
      display:table-cell;
      vertical-align: middle;
    }
    .reserve-msg-content{
      width: 500px;
      margin: 0 auto;

      background:white;
      .msg{
        padding: 50px;
        p{
          font-size: 20px;
          line-height: 26px;
          text-align: center;
        }
        .fenti{
          margin: 30px auto;
        }
      }
      figure{
        img{
          width:100%;
        }
      }
    }

  }


  .contacts{
    background: #f6f6f6;
    color: #646464;
    h3{
      text-transform: uppercase;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .fenti{
      margin-bottom: 0;
    }
  }
  .form{
    background: #f2f3f4;
    h3{
      text-transform: uppercase;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
      color: #646464;
    }
    .form-input{
      border: none;
      width: 100%;
      margin-bottom: 20px;
      line-height: 26px;
      padding: 8px 10px 2px;
      box-sizing: border-box;
      background: transparent;
      trasition: .4s;
      border-bottom: 2px solid #C9CBCF;
      &:active, &:focus{
        outline: none;
        border-bottom-color: #70c6ea;
      }
      &.error{
        border-bottom-color: #FF6666;
      }
    }
    .form-submit{
      border: none;
      width: 100%;
      background: #c9cbcf;
      text-align: center;
      font-size: 18px;
      padding: 9px 5px 5px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      &:active{
        outline: none;
      }
    }
//    .input-row{
//      position: relative;
//      overflow:hidden;
      .lable{
        display:none;
//        position: absolute;
//        transition: .4s;
//        opacity: 1;
//        top:0;
//        left: 0;
      }
//      .form-input:focus ~ .lable {
//        transform: translateY(-100%);
//        opacity: 0;
//      }

//    }
  }
}

.popup--opened{
  .table{
    animation: popup-open .7s forwards;
  }
}

.popup--closed{
  .table{
    animation: popup-close .7s forwards;
  }
}


@media(max-width: 620px){
  .reserve-popup .popup-content{
    width: 90%;
    margin: 5% auto;
  }
}

@media(max-width: 540px){
  .reserve-popup{
    .cell{
      display:block;
      width:100%;
    }
    .contacts{
      padding-top: 0;
      background: #f2f3f4
    }
    .reserve-msg-wrapper{
      .reserve-msg-content{
        width: 90%;
        margin: 5% auto;
        .msg{
          padding: 30px;
          p{
            font-size: 18px;
            line-height: 24px;
          }
          .fenti{
            margin: 20px auto 0;
          }
        }
      }
    }
  }
}