.box-3{
  .box-content{
    padding-bottom: 0 !important;
  }
  .col{
    width:25%;
  }
  .image-col{
    width:50%;
    img{
      margin: 0 0 0 auto;
    }
  }
  .text-col{
    padding-top: 30px;
  }

  figure{
    margin: 0 -40px;
  }

  @media (max-width:360px){
    figure{
      margin: 0 -20px;
    }
  }
}

