.box-2{
  background-image: url('../images/corr.jpg');
  .box-content{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }
  h1{
    margin-bottom: 0;
  }

  .next-slide, .prev-slide{
    top:0;
    position: absolute;
    width: 170px;
    height: 100%;
    transition: all 2s;
    z-index: 100;
  }

  .next-slide{
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+2,0.5+60 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 60%, rgba(255,255,255,0.75) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 60%,rgba(255,255,255,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 60%,rgba(255,255,255,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 */
    &:hover{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f8f0d7+100&amp;0+2,0.5+60 */
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,254,0) 0%, rgba(251,246,231,0.75) 60%, rgba(248,240,215,0.75) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,254,0) 0%,rgba(251,246,231,0.75) 60%,rgba(248,240,215,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,254,0) 0%,rgba(251,246,231,0.75) 60%,rgba(248,240,215,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80f8f0d7',GradientType=1 ); /* IE6-9 */
    }
  }
  //
  .prev-slide{
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0.5+40,0+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 40%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 40%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 40%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    &:hover{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f8f0d7+100&amp;0.5+40,0+100 */
      background: -moz-linear-gradient(left,  rgba(255,255,255,0.75) 0%, rgba(252,249,239,0.75) 40%, rgba(248,240,215,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0.75) 0%,rgba(252,249,239,0.75) 40%,rgba(248,240,215,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0.75) 0%,rgba(252,249,239,0.75) 40%,rgba(248,240,215,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00f8f0d7',GradientType=1 ); /* IE6-9 */

    }
  }

  .owl-stage{
    transition: .35s cubic-bezier(0.57, 0.06, 0.68, 0.19)!important
  }

}



.owl-carousel .owl-item {
  float:none;
  display:inline-block;
  vertical-align: middle;
}

//.owl-carousel .owl-stage-outer {
//  padding-bottom:40px;
//}

.slider-wrapper{
  position:relative;
  .owl-carousel .owl-stage-outer {
    padding-bottom: 40px;
  }
}


.slide-tiles{
  background-color: white;
  margin: 0 15px;
  padding: 50px;
  box-shadow: 20px 20px 40px rgba(0,0,0,.25);
  .title{
    font-size:32px;
    text-align: center;
    margin-bottom: 30px;
    &:before, &:after{
      content:'';
      display:inline-block;
      vertical-align: middle;
      width:15px;
      height:2px;
      margin: 0 7px;
      background-color: black;
    }
  }
  table{
    td{
      width:250px;
      padding: 7px 0;
      font-size: 12px;
      &:last-child{
        width: 55px;
        padding-left: 30px;
        text-align: center;
        vertical-align: middle;
        color:#9f9f9f;
        font-size: 18px;
      }
    }
  }

}

//.tiles-bounce-left{
//  animation: slideBounceLeft 0.75s infinite;
//}
//
//@keyframes slideBounceLeft {
//  0%, 100% {
//    margin: 0 15px;
//    padding-left: 50px;
//    padding-right: 50px;
//  }
//  30%, 70%{
//    margin: 0 30px;
//    padding-left: 35px;
//    padding-right: 35px;
//
//  }
//}